@tailwind base;
@tailwind components;
@tailwind utilities;


    @font-face {
        font-family: "Prompt";
        src: url("../public/fonts/Prompt-Medium.ttf");
        font-weight: 500;
        font-display: swap;
        font-style: normal;

    }

    @font-face {
        font-family: "Inconsolata";
        src: url("../public/fonts/Inconsolata-VariableFont.ttf");
        font-weight: 500;
        font-display: swap;
        font-style: normal;

    }

    @font-face {
        font-family: "SpaceMono";
        src: url("../public/fonts/SpaceMono-Regular.ttf");
        font-weight: 500;
        font-display: swap;
        font-style: normal;

    }

    @font-face {
        font-family: "Syne";
        src: url("../public/fonts/Syne-VariableFont.ttf");
        font-weight: normal;
        font-display: swap;
        font-style: normal;

    }

    html, body {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
        
    }

 .mt-xs {
    margin-top: 0.095rem;
 }

 .blur-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
  }

  .filter-green {
    filter: grayscale(100%) brightness(58%) sepia(300%) hue-rotate(99deg) saturate(250%)
  }

  .shop {
  background:
  linear-gradient(currentColor 0 0) 0 0,
  linear-gradient(currentColor 0 0) 0 0,
  linear-gradient(currentColor 0 0) 0 100%,
  linear-gradient(currentColor 0 0) 0 100%,
  linear-gradient(currentColor 0 0) 100% 0,
  linear-gradient(currentColor 0 0) 100% 0,
  linear-gradient(currentColor 0 0) 100% 100%,
  linear-gradient(currentColor 0 0) 100% 100%;
background-size: var(--d, 0) 3px, 3px var(--d, 0);
background-repeat: no-repeat;
transition: 0.5s;
}
.shop:hover {
--d: 20px;
}
  